<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>图书标签查看</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div style="padding: 100px 100px 10px;">
    <form role="form">
        <div class="row">
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="hidden">
                    <input type="text" id="searchIdText" value="{{ pre_book_id }}" class="form-control">
                    <span class="input-group-btn">
                        <button id="searchId" class="btn btn-primary" type="button">搜索图书编号</button>
                    </span>

                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div id="res">
            <h3>[图书id]</h3><span id="bookId" style="font-size:20px"></span>
            <h3>[歌名]</h3><span id="title" style="font-size:20px"></span>
            <h3>[歌手]</h3><span id="actor" style="font-size:20px"></span>
            <h3>[标签]</h3><span id="tag" style="font-size:20px"></span>
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <input id="addTagText" type="text" value="" class="form-control">
                        <span class="input-group-btn">
                            <button id="addTag" class="btn btn-primary" type="button">增加图书常规标签</button>
                        </span>

                    </div>
                    <br>
                </div>
            </div>
            <table width="600" class="table">
                <thead>
                <tr>
                    <th>常规标签</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="bookTag">

                </tbody>
            </table>
            <h3>[影视剧标签]</h3><span id="movieTag" style="font-size:20px"></span>
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <input id="addMovieTagText" type="text" value="" class="form-control">
                        <span class="input-group-btn">
                            <button id="addMovieTag" class="btn btn-primary" type="button">增加图书影视标签</button>
                        </span>

                    </div>
                    <br>
                </div>
            </div>
            <table width="600" class="table">
                <thead>
                <tr>
                    <th>影视标签</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="bookMovieTag">

                </tbody>
            </table>
        </div>

    </form>
</div>
<script src="js/jquery.min.js"></script>
<!--<script src="{{ url_for('static',filename='js/book.js') }}"></script>-->
<script type="text/javascript" src="js/book.js?version=1.0.0"></script>
</body>
</html>
